body {
	font-family:proxima-nova, sans-serif;
	min-width: 320px;
}

/* HEADER =================================*/
.header {
	position: relative;
	width: auto;
	height: 90px;
	padding: 40px 30px 50px;
	border-bottom: 1px solid gainsboro;
}

.mobile .header {
	height: 110px;
	padding: 10px 10px 20px;
	margin-bottom: 40px;
	border-bottom: 1px solid gainsboro;
}

.header h1 {
  	font-style: italic;
  	font-weight: 100;
  	font-size: 3em;
	color: grey;
	float: left;
	white-space: nowrap;
}

.mobile .header h1 {
  	font-size: 3.5em;
	color: gainsboro;
	margin-top: 50px;
	
}

.header .caps {
  	font-weight: 100;
	color: gainsboro;
	margin: 33px 20px;

}

.mobile .header .caps {
	color: grey;
}

/* NAV =================================*/

nav {
	position: absolute;
	right: 100px;
	bottom:-45px;
	height:45px;	
}

nav a {
	font-weight: 300;
	font-size: 1em;
	float: left;
	text-decoration: none;
	border: 1px solid gainsboro;
	color: grey;
	background: white;
	margin:0 10px;
	height:100%;
	line-height: 45px;
	padding:0 14px;
}

.mobile nav {
	left:10px;
	right:auto;
	bottom: -35px;
	height:35px;
}

.mobile nav a {
	font-size: .9em;
	text-decoration: none;
	border-left:none;
	line-height: 35px;
	margin:0;
	padding:0 8px;
}

.mobile nav a:first-child {
	border-left: 1px solid gainsboro;
}

nav a:hover {
	color: #23b6a6;
}

/* MAIN =================================*/

section {
	font-weight: 300;
	font-size: 1em;
	color: black;
	margin: 100px 60px;
	margin-top: 80px;
	width: 500px;
	min-width: 300px;

}

.mobile section {
	margin: 20px 20px;
	width: auto;
}

section a {
	font-weight: 300;
	font-size: 1.3em;
	color: #23b6a6;
	text-decoration: none;
	margin: 20px 10px;

}

section a:hover {
	color: midnightblue;
}

section span {
	font-weight: 300;
	font-size: 1em;
	color: grey;

}

section h2 {
	color: dimgrey;
	font-weight: 300;
	font-size: 2em;
}

section h3 {
	margin:10px 0;
}

section small.date {
	margin:10px 0;
	font-size: 14px;
}

section p {
	margin:10px 0;
	line-height: 20px;
}

section li {
	margin-left: 20px;
	line-height: 20px;
}