<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><meta charset="utf-8" /> 
	<link href="assets/css/responsivegrid.css" rel="stylesheet">
	<link href="assets/css/base.css" rel="stylesheet">

  
  <script type="text/javascript" src="//use.typekit.net/wdy0odx.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>


	<title>{{ title }}</title>

</head>
<body>

	
  {{ content }}

</body>
</html>